.formContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 60px 30px;
    box-sizing: border-box;
  }
  
  .innerFormContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;

    border: green solid 1px;
  }
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    margin-bottom: 5px;
    text-align: left;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-self: center;
    cursor: pointer;
  }

  button {
    width: 100px;
    padding: 10px;
    cursor: pointer;
  }
  
  @media (max-width: 599px) {
    .innerFormContainer {
      padding: 10px;
    }
  }
  
  @media (min-width: 600px) and (max-width: 767px) {
    .innerFormContainer {
      padding: 15px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .innerFormContainer {
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .innerFormContainer {
      padding: 25px;
    }
  }
  
  @media (min-width: 1200px) {
    .innerFormContainer {
      padding: 30px;
    }
  }
  
  