
.formContainer{
    height: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: red solid 1px;
}

.innerFormContainer{
    height: 400px;
    width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: blue solid 1px;
}


/* Media Queries */
  
  /* cellphones */
  @media (max-width: 599px) {
    
  }
  
  /* tablets and large phones */
  @media (min-width: 600px) and (max-width: 767px) {
    
  }
  
  /* Medium tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    
  }
  
  /* laptops/desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /* large laptops and desktops */
  @media (min-width: 1200px) {
    
    
  }
  