.navBarStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
  }

  .dropdown-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}


  /* Media Queries */

/* cellphones */
  @media (max-width: 599px) {

    .navBarStyle {
        padding: 1rem;
      }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
      }
    
      .nav-links.show {
        display: flex;
      }
    
      .dropdown-button {
        display: block;
      }
  }
  
  /* tablets and large phones */
  @media (min-width: 600px) and (max-width: 767px) {

    .navBarStyle {
        padding: 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
      }
    
      .nav-links.show {
        display: flex;
      }
    
      .dropdown-button {
        display: block;
      }
  }
  
  /* Medium tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
      }
    
      .nav-links.show {
        display: flex;
      }
    
      .dropdown-button {
        display: block;
      }
  }
  
  /* laptops/desktops */
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  
  /* large laptops and desktops */
  @media (min-width: 1200px) {
  }
  